.container {
  background: #fff;
  width: 100%;
}

.linearGradient {
  flex: 1;
  padding-left: 15;
  padding-right: 15;
  border-radius: 5;
}

.buttonText {
  font-size: 18;
  font-family: Gill Sans;
  margin: 11px;
  color: #ffffff;
  background-color: transparent;
}
